.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    height: 100vh;
}